h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
#test1 {
    margin: 100;
}
.test3 {
    margin: 200px;
}
.test2 {
    margin: 300px;
}

