.button {
    border-radius: 8px;
    margin: 15px;
    padding: 15px;
    box-shadow: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}



#submit {
    background-color: green;
}

#cancel {
    background-color: grey;
}

